header.header
    .container
        .row
            .col-xs-12
                h1.header__title.h1 There is no other platforms for you as like
                img(src="./Images/round-play-button.svg", alt="").videoIcon
                a(href='#').header__button.button Try now
                p.header__note.p * No need to add cards details
