section.section6
    .container
        .row
            h2.section6__title.h2.col-xs-12
                .section6__pretitle.pretitle New features
                | Over 1000 designers are using
                span.title__dots ...
        form.section6__form.row
            .s6-form__col.col-md-3.col-sm-6.col-xs-12
                input(type="text" placeholder="Full name").s6-form__input
            .s6-form__col.col-md-3.col-sm-6.col-xs-12
                input(type="email" placeholder="Your email").s6-form__input
            .s6-form__col.col-md-3.col-sm-6.col-xs-12
                input(type="password" placeholder="Password").s6-form__input
            .s6-form__col.s6-form__button-block.col-md-3.col-sm-6.col-xs-12
                div.s6-form__button-trial.hidden-sm.hidden-xs 30 days free trial for all.
                button(type="submit").s6-form__submit.button Try now
            .section6__bottom-text.col-lg-12 By Signing up you agree to our 
                a(href="#") terms & Services
                | .
