section.section5
    .container
        .row
            .col-md-8.col-md-offset-2
                h2.section5__title.h2
                    .section5__pretitle.pretitle New features
                    | Some awesone features
                p.p
                    | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn. Vestibulum felis euismod semper.
            .col-lg-12.section5__image-container
                img(src="./Images/safari.png", alt="safari").section5__img
