section.section4
    .container
        .row
            .section4__client.col-md-4
                img(src="./Images/client.png", alt="client").s4-client__img
                h4.s4-client__name.h4 Jonathon Doe
                .s4-client__pos Co Founder
                p.s4-client__p.p “Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id gravida at eget metus. Etiasem malesuada magn”
            .section4__client.col-md-4
                img(src="./Images/client.png", alt="client").s4-client__img
                h4.s4-client__name.h4 Jonathon Doe
                .s4-client__pos Co Founder
                p.s4-client__p.p “Pellentesque ornare sem lacinia quam. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”
            .section4__client.col-md-4
                img(src="./Images/client.png", alt="client").s4-client__img
                h4.s4-client__name.h4 Jonathon Doe
                .s4-client__pos Co Founder
                p.s4-client__p.p “Aenean eu leo quam. Pellentesque ornare sem lacinia qua emere wancerid elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn”
        .row
            .section4__partner.col-lg-12
                a(href="#").s4-partner__link
                    img(src="./Images/partner-logo-1.png", alt="").s4-partner__img
                a(href="#").s4-partner__link
                    img(src="./Images/partner-logo-2.png", alt="").s4-partner__img
                a(href="#").s4-partner__link
                    img(src="./Images/partner-logo-3.png", alt="").s4-partner__img
                a(href="#").s4-partner__link
                    img(src="./Images/partner-logo-4.png", alt="").s4-partner__img
                a(href="#").s4-partner__link
                    img(src="./Images/partner-logo-5.png", alt="").s4-partner__img
        
