section.section2
    .container
        .row
            h2.section2__title.h2.col-xs-12
                .section2__pretitle.pretitle New features
                | Some awesone features
            .section2__feature.col-md-4.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-12
                img(src="./Images/feature1.png", alt="Some awesone features").s2-feature__img
                h4.s2-feature__title.h4 Some awesone features
                p.p Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
            .section2__feature.col-md-4.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-12
                img(src="./Images/feature2.png", alt="Some awesone features").s2-feature__img
                h4.s2-feature__title.h4 Some awesone features
                p.p Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
            .section2__feature.col-md-4.col-md-offset-0.col-sm-8.col-sm-offset-2.col-xs-12
                img(src="./Images/feature3.png", alt="Some awesone features").s2-feature__img
                h4.s2-feature__title.h4 Some awesone features
                p.p Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
