section.section3
    .container
        .row
            .col-md-6.hidden-sm.hidden-xs
                img(src="./Images/macbook.png", alt="macbook").section3__img
            .col-md-6
                h2.section3__title.h2
                    .section3__pretitle.pretitle New design
                    | Resposive design, just need your tap 
                    span.title__dots ....
                p.p
                    | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiasem malesuada magn. Vestibulum felis euismod semper.
            .col-md-6.visible-sm.visible-xs
                img(src="./Images/macbook.png", alt="macbook").section3__img
